.box:nth-child(odd) {
    background-color:#aaa;
    
}
.box:nth-child() {
    
    color:#3A85FF;
}
.box:nth-child(even) {
    background-color:#ccc;
    
}

/* .box{
  height: 190px;
  padding: 8px;

} */

span {
   width: 140px;
    height: 130px; 
}

/* 
.box {
  text-align: center;
}
 */
